<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OverRustle Logs</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="~/css/orl.css"/>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="row">
            <div class="col m1 l2 hide-on-med-and-down"></div>
            <div class="nav-wrapper col s12 m10 l8">
                <span><a a class="brand-logo" href="https://overrustlelogs.net/">OverRustle Logs</a></span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="active" asp-controller="Stalk" asp-action="Index">Stalk</a></li>
                    <li><a class="active" href="https://overrustlelogs.net/changelog">Changelog</a></li>
                    <li><a class="active" href="https://overrustlelogs.net/contact">Contact</a></li>
                    <li>
                        <a style="width: 97px;" class="donate" target="_blank" href="https://twitch.streamlabs.com/overrustlelogs">
                            <i class="fa fa-paypal fa-fw"></i><span>Donate</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col m1 l2 hide-on-med-and-down"></div>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col m1 l2 hide-on-med-and-down"></div>
    <div class="col s12 m12 l8 hide-on-large-only center-align">
        <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ur1&category=amazonhomepage_2017&f=ifr&linkID=bbc7c334f3b99b4bf8cd119877973c49&t=orl02-20&tracking_id=orl02-20" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
    <div class="col s12 m12 l8">
        @RenderBody()
    </div>
    <div class="col m1 l2 hide-on-med-and-down">
        <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=29&l=ur1&category=amazonhomepage_2017&f=ifr&linkID=4730b5aea11f768430c3244f9343d82e&t=orl02-20&tracking_id=orl02-20" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
</div>
    
<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script script src="//use.fontawesome.com/5fd85f0c6d.js"></script>
</body>
</html>
