<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OverRustle Logs</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="~/css/orl.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
</head>
<body>
<div class="navbar-fixed" id="top">
    <nav>
        <div class="row">
            <div class="col m1 l2 hide-on-med-and-down"></div>
            <div class="nav-wrapper col s12 m10 l8">
                <span><a a class="brand-logo" href="//overrustlelogs.net/">OverRustle Logs</a></span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="active" asp-controller="Stalk" asp-action="Index">Stalk</a></li>
                    <li><a class="active" href="//overrustlelogs.net/changelog">Changelog</a></li>
                    <li><a class="active" href="//overrustlelogs.net/contact">Contact</a></li>
                    <li>
                        <a style="width: 97px;" class="donate deep-orange" target="_blank" href="//twitch.streamlabs.com/overrustlelogs">
                            <i class="fa fa-paypal fa-fw"></i><span>Donate</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col m1 l2 hide-on-med-and-down"></div>
        </div>
    </nav>
</div>
@RenderBody()
<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="//use.fontawesome.com/5fd85f0c6d.js"></script>
<script src="~/js/orl.js" asp-append-version="true"></script>
</body>
</html>
